# 代理配置
PROXY_URL=""      # used for http(s)_proxy with pxy alias

# 模型厂商
DOUBAO_ARK_ANTHROPIC_BASE_URL="https://ark.cn-beijing.volces.com/api/coding"
DOUBAO_ARK_ANTHROPIC_MODEL="doubao-seed-2.0-code"
MY_DOUBAO_ARK_API_KEY=""

# MCP
JINA_API_KEY=""

# anthropic claude code
ANTHROPIC_BASE_URL=""
ANTHROPIC_AUTH_TOKEN=$MY_DOUBAO_ARK_API_KEY
ANTHROPIC_MODEL=$DOUBAO_ARK_ANTHROPIC_BASE_URL
CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC=1
